@charset "utf-8";

#main-page-content {
	min-width: 88%;
	max-width: 90%;
	height: 95%;
	margin: 0 auto;
	padding: 10px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border-style: solid;
	border-width: medium;
	border-color: black;
	overflow: auto;
	/*background-image: url('/images/bg/awg_bg_hex.png');
	background-repeat: repeat;*/
	background: rgba(0,0,0,.6);
}
.right {
	float: right;
	width: 50%;
	display: block;
}
.left {
	float: left;
	width: 50%;
	display: block;
}
.centered {
	margin: 0 auto;
	width: 100%;
	display: block;
	text-align: center;
}
.alignleft {
	text-align: left;
}
.alignright {
	text-align: right;
}
#chatbox {
	color: #C00;
	width: 500px;
	min-height: 25px;
	/*margin: 5px;*/
	margin: 0 auto;
	padding: 1px;
	background: #1b1b1b;
	border-color: #2b2b2b;
}
#server-console {
	width: 95%;
	height: 300px;
	color: #0F0;
	background: rgba(0,0,0,.8);
	margin: 0 auto;
	padding: 6px;
	overflow-y:scroll;
	/*resize: both;	*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	/*border-color: #C00;
	border-style:solid;*/
	text-align: left;
	display: block;
}
#adminlog {
	text-align: left;
	display: block;
	height: 250px;
	width: 95%;
	color: #0F0;
	background: rgba(0,0,0,.8);
	margin: 0 auto;
	padding: 6px;
	overflow-y:scroll;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	/*border-color: #C00;
	border-style:solid;*/
}
/*
#submit-chat {
	margin-right: 75px;
	width: 50px;
	float: right;
}
*/
#current-players {
	margin: 0 auto;
	text-align: center;
}
#current-players table {
}
#player_data_table {
	margin: 0 auto;
	border: 1px solid #D00;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	/*border-collapse: collapse;*/
	padding: 2px 6px 2px 6px;
	text-align: center;
}
#player_data_table th {
	border: 1px solid #D00;
	border-width: 2px;
	padding: 4px;
	color: #000;
	letter-spacing: 2px;
	font-weight: strong;
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
	background: rgba(0, 0, 0, .8);
	text-shadow:
		-1px -1px 0 #D00,
		1px -1px 0 #D00,
		-1px 1px 0 #D00,
		1px 1px 0 #D00;
}
#player_data_table td {
	padding: 4px;
	border: 1px solid #F22;
}
#player_data_table td:hover {
	background: rgba(0, 0, 0, .7);
	color: #FF5900;
	text-shadow: 0px 0px 6px #FF5900;
	/*font-weight: bold;*/
}
#player_data_table tr:hover {
	background: rgba(0, 0, 0, .7);
	color: #DD3700;
	text-shadow: 0px 0px 6px #DD3700;
}
.left p {
	width: 80%;
	text-indent: 20px;
	text-align: justify;
}
#submit-chat {
	display: inline-block;
	margin-top: 4px;
	/*margin-right: 250px;*/
	width: 50px;
	text-align: center;
}