@charset "utf-8";

#main-page-content {
	min-width: 88%;
	max-width: 90%;
	height: 95%;
	margin: 0 auto;
	padding: 10px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border-style: solid;
	border-width: medium;
	border-color: black;
	overflow: auto;
	/*background-image: url('/images/bg/awg_bg_hex.png');
	background-repeat: repeat;*/
	background: rgba(0,0,0,.6);
}
p {
	font-size: 14px;
}
.right {
	float: right;
	width: 50%;
	display: block;
}
.left {
	float: left;
	width: 50%;
	display: block;
}
.centered {
	margin: 0 auto;
	width: 100%;
	display: block;
	text-align: center;
}
.alignleft {
	text-align: left;
}
.alignright {
	text-align: right;
}
#chatbox {
	color: #C00;
	width: 500px;
	min-height: 25px;
	/*margin: 5px;*/
	margin: 0 auto;
	padding: 1px;
	background: #1b1b1b;
	border-color: #2b2b2b;
}
#server-console {
	width: 95%;
	height: 300px;
	color: #0F0;
	background: rgba(0,0,0,.8);
	margin: 0 auto;
	padding: 6px;
	overflow-y:scroll;
	/*resize: both;	*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	/*border-color: #C00;
	border-style:solid;*/
	text-align: left;
	display: block;
}
#adminlog {
	text-align: left;
	display: block;
	height: 250px;
	width: 95%;
	color: #0F0;
	background: rgba(0,0,0,.8);
	margin: 0 auto;
	padding: 6px;
	overflow-y:scroll;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	/*border-color: #C00;
	border-style:solid;*/
}
/*
#submit-chat {
	margin-right: 75px;
	width: 50px;
	float: right;
}
*/
#current-players {
	margin: 0 auto;
	text-align: center;
}
#current-players table {
}
/*
#player_data_table {
	margin: 0 auto;
	border: 1px solid #D00;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 2px 6px 2px 6px;
	text-align: center;
}
#player_data_table th {
	border: 1px solid #D00;
	border-width: 2px;
	padding: 4px;
	color: #000;
	letter-spacing: 2px;
	font-weight: strong;
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
	background: rgba(0, 0, 0, .8);
	text-shadow:
		-1px -1px 0 #D00,
		1px -1px 0 #D00,
		-1px 1px 0 #D00,
		1px 1px 0 #D00;
}
#player_data_table td {
	padding: 4px;
	border: 1px solid #F22;
}
#player_data_table td:hover {
	background: rgba(0, 0, 0, .7);
	color: #FF5900;
	text-shadow: 0px 0px 6px #FF5900;
}
#player_data_table tr:hover {
	background: rgba(0, 0, 0, .7);
	color: #DD3700;
	text-shadow: 0px 0px 6px #DD3700;
}
#player_data_table td a {
	color: #C00;
	text-decoration: underline;
}
#player_data_table td a:hover {
	text-decoration: underline;
	background: rgba(0, 0, 0, .7);
	color: #FF5900;
	text-shadow: 0px 0px 6px #FF5900;
}*/
.left p {
	width: 80%;
	text-indent: 20px;
	text-align: justify;
}
#submit-chat {
	display: inline-block;
	margin-top: 4px;
	/*margin-right: 250px;*/
	width: 50px;
	text-align: center;
}
h2 {
	font-size: 24px;
	color: rgba(210, 0, 0, 1);
	text-shadow: 0px 0px 8px rgba(230, 0, 0, 1);
	text-decoration: underline;
}
.buttons1 {
	padding-left:50px;
}
.buttons1 a {
	font-size: 20px;
	text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
	font-family: Arial, sans-serif;
	text-decoration: none;
	color: rgba(210, 0, 0, 1);
	font-weight: bold;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
	line-height: 28px;
	/*text-shadow:
		-1.5px -1.5px 0 #000,
		1.5px -1.5px 0 #000,
		-1.5px 1.5px 0 #000,
		1.5px 1.5px 0 #000;*/
}
.buttons1 a:hover {
	text-shadow: 0px 0px 6px rgba(235, 0, 0, 1);
	color: rgba(235, 0, 0, 1);
	text-decoration: underline;
}
.margin_centered {
	margin: 0 auto;
}
#paged_table_rows {
	text-align: center;
	font-size: 13px;
	/*font-weight: bold;*/
}
.pagination {
	list-style-type: none;
}
.pagination li {
	font-size: 14px;
	font-weight: bold;
	float: left;
	margin: 0 5px;
	text-decoration: underline;
}
.pagination li.active {
	cursor: pointer;
}
.pagination li:hover {
	text-shadow: 0px 0px 3px rgba(255, 0, 0, .9);
}
li#current_page {
	color: #F00;
}
#left_margin_50 {
	margin-left: 50px;
}